<mat-card>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Entrar">
      <form>
        <!--EMAIL-->
        <mat-form-field>
          <input matInput placeholder="Email" type="email" name="email" required>
        </mat-form-field>


        <!--SENHA-->
        <mat-form-field>
          <input matInput placeholder="Senha" type="password" name="senha" required>
        </mat-form-field>

        <button mat-raised-button type="submit" color="primary">
          Entrar
        </button>
      </form>
    </mat-tab>

    <mat-tab label="Cadastrar">
      <form>
        <mat-form-field>
          <span matPrefix>@</span>
          <input matInput placeholder="Usuario" type="text" name="nome" required>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Email" type="email" name="email" required>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Senha" type="password" name="senha" required>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Repita a senha" type="password" name="repitaSenha" required>
        </mat-form-field>

        <button mat-raised-button type="submit" color="primary">
          Cadastrar
        </button>
      </form>
    </mat-tab>
  </mat-tab-group>
</mat-card>
