<mat-toolbar color="primary" class="mat-elevation-z6">
  <button mat-icon-button (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  Meus Gastos
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #snav>
    <mat-list>
      <a mat-list-item>
        <mat-icon>home</mat-icon>
        Inicio
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item>
        <mat-icon>list</mat-icon>
        Lançamentos
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item>
        <mat-icon>exit_to_app</mat-icon>
        Sair
      </a>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content [class.altura-completa]="!estaLogado">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
