<mat-toolbar color="primary" class="mat-elevation-z6">
  <button mat-icon-button (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  Meus Gastos
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #snav>
    <mat-list>
      <a mat-list-item [routerLink]="['/financas']" routerLinkActive="$router_link-active$" (click)="snav.toggle()">Lançamentos</a>
      <mat-divider></mat-divider>
      <a mat-list-item (click)="logout()">Sair</a>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content >

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
